/* basic styling */
.box {
    border: 3px dotted red;
    width: 200px;
    height: 100px;
button {
    color: white;
    padding: 14px 50px;
    margin: 8px 20px;
    border: none;
    cursor: pointer;
    display: block;
    /* font-size: 16px; */
}

div {
    margin: 200px 0px;
.button1 {
    width: 300px;
    background-color: green;
}

body > div:first-child {
    margin: 0px;
.button2 {
    width: 200px;
    background-color: blue;
}

/* overflow */

.visible {
    overflow: visible;
html {
    font-size: 20px;
}

.hidden {
    overflow: hidden;
}
.button3{
    /* width: 146px; */
    /* width: 200px; */

    /* measurement: pt (point) */
    /* 1 pt = 1.33 px */
    /* width: 150pt; */

    /* measurement: cm (centimeter) */
    /* 1 cm = 37.8 px */
    /* width: 5.30cm; */
    background-color: red;

    /* measurement: mm (millimeter) */
    /* 1 mm = 3.78 px */
    /* width: 53mm; */

    /* measurement: in (inch) */
    /* 1 in = 96 px */
    /* width: 1.56in; */

    /* responsive */
    /* width: 50%; */

    /* width in em = width in px / font-size in px */
    /* 1em = 16px */
    /* 200px / 16px = 12.5em */

.scroll {
    overflow: scroll;
    width: 12.5rem;
}

.auto {
    overflow: auto;
}