/* basic styling */
.container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: cadetblue;
.box {
    border: 3px dotted red;
    width: 200px;
    height: 100px;
}

.child {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
div {
    margin: 200px 0px;
}

.child1 {
    background-color: lightcoral;
body > div:first-child {
    margin: 0px;
}

.child2 {
    background-color: lightgreen;
}

.child3 {
    background-color: lightblue;
}

/*  position styling */
/* overflow */

.container {
    position: relative;
.visible {
    overflow: visible;
}

.child1 {
    position: absolute;
    top: 300px;
.hidden {
    overflow: hidden;
}

.child2 {
    position: relative;
    top: 30px;
.scroll {
    overflow: scroll;
}

.child3 {
    position: relative;
    top: 30px;
    /* background-color: inherit; */
.auto {
    overflow: auto;
}