.container {
    display: grid;
    grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "footer footer footer footer";
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

.menu li {
    list-style: none;
}

.header {
    grid-area: header;
    padding: 20px;
    background-color: blue;
.menu li a {
    text-decoration: none;
    color: #000;
}

.main {
    grid-area: main;
    padding: 20px;
    background-color: green;
.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.footer {
    grid-area: footer;
    padding: 20px;
    background-color: yellow;
.menu li {
    background-color:darkcyan;
    padding: 10px 35px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.menu li:hover {
    background-color: green;
}

.sidebar {
    grid-area: sidebar;
    padding: 20px;
    background-color: red;
.menu li a{
    color: #fff;
}